html, body {
  background-color: $background-color;
  font-family: $bodyFontFamily;
  font-size: 1em;
  height: 100%;
  width: 100%;
  margin: 0px auto;
}

#content {

  .container {
    height: auto;
  }
}
