// Colors
$black: #222222;
$white: #FFFFFF;
$cream: #FAF8F2;

$textColor: $black;

// Typography
$headerFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headerFontWeight: bold;
$headerFontColor: $textColor;
$bodyFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$bodyFontWeight: normal;
$bodyFontColor: $textColor;
