// Colors
$black: #333333;
$light-grey: #EDEFED;
$medium-grey: #A3A3A3;
$dark-grey: #565A5C;
$white: #FFFFFF;
$off-white: #FCFCFC;
$purple: #C17EFF;
$light-purple: #D09DFF;
$teal: #8BEFEB;

$background-color: $off-white;
$textColor: $black;

// Typography
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$headerFontFamily: "Montserrat", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headerFontWeight: $font-weight-bold;
$headerFontColor: $textColor;
$bodyFontFamily: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$bodyFontWeight: $font-weight-light;
$bodyFontColor: $textColor;


// Screen Sizes
$large-screen: new-breakpoint(max-width 1200px 12);
$medium-screen: new-breakpoint(max-width 992px 12);
$small-screen: new-breakpoint(max-width 768px 6);
$x-small-screen: new-breakpoint(max-width 640px 4);
$xx-small-screen: new-breakpoint(max-width 320px 4);

// Visual elements
$border-radius: 6px;

// Navbar
$nav-height: 100px;

// Grid
// $container-tablet: 720px + $grid-gutter-width;
// $container-sm: $container-tablet;
// $container-desktop: 940px + $grid-gutter-width;
// $container-md: $container-desktop;
// $container-large-desktop: 1140px + $grid-gutter-width;
// $container-lg: $container-large-desktop;

$container-tablet: 720px + $grid-gutter-width;
$container-sm: $container-tablet;
$container-desktop: 940px + $grid-gutter-width;
$container-md: $container-desktop;
$container-large-desktop: 1140px + $grid-gutter-width;
$container-lg: $container-large-desktop;
