.navbar {
    background-color: $white;
    border-bottom: none;

    .logo-block {
        height: $nav-height;
        .logo {
            display: block;
            height: 100%;
            padding: 20px 0px;
        }
    }
}

