<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        {% stylesheet app %}
    </head>

    <body>

    {% javascript lastfm %}

    <div class="full-height-fluid-container">
        <div class="page-row">
            <div class="about-section">
                <div class="about-row">
                    <div class="logo-block">
                        <a href="/">
                            {% include logo.svg %}
                        </a>
                    </div>
                </div>

                <div class="about-row">
                    <h1 class="name">
                        Atsu Kakitani
                    </h1>
                    <h2 class="tagline">
                        Full-Stack Designgeneer
                    </h2>
                </div>

                <div class="about-row">
                    <p class="about-text">
                    Hi, I'm Atsu! I'm currently an EECS student at UC Berkeley, and I like making things.
                    I can work on all parts of a tech stack, but I especially like working at the very bottom (infrastructure) and the very top (UI/UX).
                    When I'm away from a laptop, you can find me climbing, writing music, or longboarding down the Berkeley hills.
                    </p>
                </div>

                <div class="about-row">
                    <div class="contact">
                        <p class="about-heading">
                        Say Hello
                        </p>
                        <a class="email" href="mailto:atsunori.kakitani@gmail.com">
                            atsunori.kakitani@gmail.com
                        </a>
                    </div>
                    <div class="links">
                        <p class="about-heading">
                        Elsewhere
                        </p>
                        <div class="icon-list">
                            <a href="https://github.com/akakitani">
                                <i class="link-icon github"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/atsunorikakitani">
                                <i class="link-icon linkedin"></i>
                            </a>
                            <a href="https://www.behance.net/akakitani">
                                <i class="link-icon behance"></i>
                            </a>
                            <a href="https://soundcloud.com/verbana">
                                <span class="soundcloud">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-soundcloud fa-stack-1x"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="music">
                        <p class="about-heading">
                        Listening To
                        </p>
                        <div class="track">
                            <div class="cover-wrap">
                                <img id="cover" src=""/>
                            </div>

                            <div class="track-info">
                                <p id="title">
                                </p>
                                <p id="artist">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extender"></div>
            </div>

            {{ content }}

        </div>
    </div>

    {% include footer.html %}
    {% javascript app %}

    </body>
</html>
